src/main/resources/integration/UserService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.useraccounts.agh.edu.pl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="UserServiceImplService" targetNamespace="http://service.useraccounts.agh.edu.pl/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.useraccounts.agh.edu.pl/" elementFormDefault="unqualified" targetNamespace="http://service.useraccounts.agh.edu.pl/" version="1.0">

  <xs:element name="authorization" type="tns:authorization"/>

  <xs:element name="authorizationResponse" type="tns:authorizationResponse"/>

  <xs:element name="changeEmail" type="tns:changeEmail"/>

  <xs:element name="changeEmailResponse" type="tns:changeEmailResponse"/>

  <xs:element name="changePassword" type="tns:changePassword"/>

  <xs:element name="changePasswordResponse" type="tns:changePasswordResponse"/>

  <xs:element name="getUsers" type="tns:getUsers"/>

  <xs:element name="getUsersResponse" type="tns:getUsersResponse"/>

  <xs:element name="register" type="tns:register"/>

  <xs:element name="registerResponse" type="tns:registerResponse"/>

  <xs:element name="remindPassword" type="tns:remindPassword"/>

  <xs:element name="remindPasswordResponse" type="tns:remindPasswordResponse"/>

  <xs:element name="removeUser" type="tns:removeUser"/>

  <xs:element name="removeUserResponse" type="tns:removeUserResponse"/>

  <xs:complexType name="register">
    <xs:sequence>
      <xs:element minOccurs="0" name="login" type="xs:string"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="registerResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="changePassword">
    <xs:sequence>
      <xs:element minOccurs="0" name="login" type="xs:string"/>
      <xs:element minOccurs="0" name="oldPassword" type="xs:string"/>
      <xs:element minOccurs="0" name="newPassword" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="changePasswordResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="changeEmail">
    <xs:sequence>
      <xs:element minOccurs="0" name="login" type="xs:string"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="changeEmailResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="remindPassword">
    <xs:sequence>
      <xs:element minOccurs="0" name="login" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="remindPasswordResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getUsers">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getUsersResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="authorization">
    <xs:sequence>
      <xs:element minOccurs="0" name="login" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="authorizationResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="removeUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="login" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="removeUserResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="authorizationResponse">
    <wsdl:part element="tns:authorizationResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="remindPassword">
    <wsdl:part element="tns:remindPassword" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="register">
    <wsdl:part element="tns:register" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="changeEmail">
    <wsdl:part element="tns:changeEmail" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="registerResponse">
    <wsdl:part element="tns:registerResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="changePassword">
    <wsdl:part element="tns:changePassword" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="changeEmailResponse">
    <wsdl:part element="tns:changeEmailResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUsers">
    <wsdl:part element="tns:getUsers" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeUser">
    <wsdl:part element="tns:removeUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="changePasswordResponse">
    <wsdl:part element="tns:changePasswordResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="remindPasswordResponse">
    <wsdl:part element="tns:remindPasswordResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUsersResponse">
    <wsdl:part element="tns:getUsersResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeUserResponse">
    <wsdl:part element="tns:removeUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="authorization">
    <wsdl:part element="tns:authorization" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="UserService">
    <wsdl:operation name="register">
      <wsdl:input message="tns:register" name="register">
    </wsdl:input>
      <wsdl:output message="tns:registerResponse" name="registerResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changePassword">
      <wsdl:input message="tns:changePassword" name="changePassword">
    </wsdl:input>
      <wsdl:output message="tns:changePasswordResponse" name="changePasswordResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeEmail">
      <wsdl:input message="tns:changeEmail" name="changeEmail">
    </wsdl:input>
      <wsdl:output message="tns:changeEmailResponse" name="changeEmailResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="remindPassword">
      <wsdl:input message="tns:remindPassword" name="remindPassword">
    </wsdl:input>
      <wsdl:output message="tns:remindPasswordResponse" name="remindPasswordResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsers">
      <wsdl:input message="tns:getUsers" name="getUsers">
    </wsdl:input>
      <wsdl:output message="tns:getUsersResponse" name="getUsersResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="authorization">
      <wsdl:input message="tns:authorization" name="authorization">
    </wsdl:input>
      <wsdl:output message="tns:authorizationResponse" name="authorizationResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeUser">
      <wsdl:input message="tns:removeUser" name="removeUser">
    </wsdl:input>
      <wsdl:output message="tns:removeUserResponse" name="removeUserResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserServiceImplServiceSoapBinding" type="tns:UserService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="changePassword">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="changePassword">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="changePasswordResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="register">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="register">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="registerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeEmail">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="changeEmail">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="changeEmailResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsers">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getUsers">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUsersResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="remindPassword">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="remindPassword">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="remindPasswordResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="authorization">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="authorization">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="authorizationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="removeUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="removeUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserServiceImplService">
    <wsdl:port binding="tns:UserServiceImplServiceSoapBinding" name="UserServiceImplPort">
      <soap:address location="http://localhost:8080/userAccounts/services/UserService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>